.container {
    margin: auto;
    padding: 10px;
    text-align: center;
    height: 400px;
    width: 650px;
    background-color: #d3136b;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    color: white;
}

.contents {
    text-align: left;
    border-bottom: 1px solid #b6ff00;
    padding: 20px;
}

#lblUsername, #lblPassword {
    font-size: 20px;
    color: #00ffe8;
    font-family: 'Times New Roman';
    margin-right: 20px;
}

#txtUsername, #txtPassword {
    height: 25px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

#btnLogin {
    height: 30px;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
    background-color: peachpuff;
    cursor: pointer;
    margin-left: 250px;
}

.contents:last-child {
    border-bottom: none;
}

span[id^="err"] {
    color: #2eff05;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
